  <h1 align="center">Brolog &hearts; Angular Demo</h1>

  <div align="center">
    <a href="https://github.com/zixia/brolog" target="_blank">BroLog Project on Github</a>
    |
    <a href="https://github.com/zixia/brolog-angular-demo/blob/master/main.ts" target="_blank">Source Code of This Component</a>
  </div>

  <ol>
    <li class="line" data-line="10"><p>Support TypeScript support(typing file <a href="https://github.com/zixia/brolog/blob/master/src/brolog.ts" target="_blank">brolog.ts</a>).</p></li>
    <li class="line" data-line="11"><p>Support Angular2 &amp; SystemJS(demo project <a href="https://github.com/zixia/brolog-angular-demo" target="_blank">git repository</a>)</p></li>
    <li class="line" data-line="12"><p>Support show <strong>real</strong> line number in browser console.</p>
      <blockquote class="line" data-line="13"><p>What I really get frustrated by is that I cannot wrap console.* and preserve line numbers</p>
      </blockquote>
      <p><a href="https://gist.github.com/paulirish/c307a5a585ddbcc17242" target="_blank">We enabled this in Chrome DevTools via blackboxing a bit ago.</a></p></li>
    <li class="line" data-line="16"><p>Also can be used with nodejs(example <a href="https://github.com/zixia/brolog/blob/master/example/npm-like-logger.js" target="_blank">here</a>)</p></li>
  </ol>

  <hr />

  <div align="center">
    <button (click)="test()">Click me, Then see console log</button>
  </div>
